<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/about.css" rel="stylesheet">
</head>
<body>

<header class="main-page-header">
        <nav class="header-nav">
            <ul class="logo-group">
                <li>
                    <img src="../static/images/logo.png" alt="Logo">
                </li>
                <li class="logo-text">
                    <h4>Cristian</h4>
                    <p>ML · AI · Data</p>
                </li>
            </ul>
    
            <ul class="header-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html" class="active">About</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="skills.html">Skills</a></li>
            </ul>
        </nav>
</header>

<div class="page-container">
        <div class="page-header">
            <h1>Who am I?</h1>
        </div>

        <div class="description">
            <div class="description-left">
                <p>Hello! I'm Cristian, my journey into data science began as a Project Engineer, where I cultivated a passion for the full data lifecycle, from generating data via IoT devices to developing real-time dashboards with Power BI and Streamlit.</p>
                <p>As a QA Automation Engineer, I built robust automation frameworks that enhanced my proficiency in Python and SQL, while executing data scraping, cleaning, and validation tasks. This technical foundation led to a Data Analyst role, where I refined my skills in Power BI, advanced data storytelling, and Python’s data science and machine learning libraries.</p>
                <p>To deepen my theoretical expertise, I completed an MSc in Data Science at the University of Bath, culminating in a dissertation on uncertainty methods applied to Chain of Thought trajectories in Large Language Models—bridging practical experience with cutting-edge AI research.</p>
                <p>Looking ahead, I am committed to advancing a future where data science is ethical, transparent, and inclusive. By championing responsible AI practices and promoting model interpretability, I aim to contribute to a field that balances innovation with accountability and delivers meaningful impact across diverse sectors.</p>
            </div>
            
            <div class="description-right">
                <img src="../static/images/photo.jpg" alt="A photo of Cristian">
            </div>
        </div>

        <div class="stats-section">
            <div class="stat-item">
                <span class="stat-number">3+</span>
                <span class="stat-label">Years in Python</span>
            </div>
            <div class="stat-item">
                <span class="stat-number">2+</span>
                <span class="stat-label">Years in SQL</span>
            </div>
            <div class="stat-item">
                <span class="stat-number">1+</span>
                <span class="stat-label">Years in Data Roles</span>
            </div>
        </div>
        
        <h2>Work Experience</h2>
        <div class="experience-grid">
            <details class="experience-card" id="exp1">
                <summary class="card-header">
                    <div class="header-content">
                        <div class="header-info">
                            <span class="role">Data Analyst</span>
                            <div class="extra-info">
                                <span class="company">BambooTEC</span>
                                <span class="years">2024</span>
                            </div>
                            <div class="tech-tags">
                                <span class="tech-tag">ML</span>
                                <span class="tech-tag">Data Analysis</span>
                                <span class="tech-tag">Python</span>
                                <span class="tech-tag">Power BI</span>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-chevron-down dropdown-icon"></i>
                </summary>
                <div class="card-description">
                    <div class="task-tags">
                        <h4>Responsibilities</h4>
                        <ul>
                            <li>Designed and implemented an interactive project management dashboard to transparently measure team performance and track task progress, resulting in a 75% reduction in daily meeting time and an 80% improvement in ticket documentation quality.</li>
                            <li>Developed a machine learning algorithm to detect mineral deposits in Chuquisaca, Bolivia, leveraging multispectral satellite imagery and convolutional neural networks (CNNs) for geospatial feature extraction</li>
                        </ul>
                    </div>
                </div>
            </details>
            
            <details class="experience-card" id="exp2">
                <summary class="card-header">
                    <div class="header-content">
                        <div class="header-info">
                            <span class="role">QA Automation Engineer</span>
                            <div class="extra-info">
                                <span class="company">QA-Cademy</span>
                                <span class="years">2022 - 2024</span>
                            </div>
                            <div class="tech-tags">
                                <span class="tech-tag">Python</span>
                                <span class="tech-tag">SQL</span>
                                <span class="tech-tag">QA Automation</span>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-chevron-down dropdown-icon"></i>
                </summary>
                <div class="card-description">
                    <div class="task-tags">
                        <h4>Responsibilities</h4>
                        <ul>
                            <li>Developed and maintained full-stack automation frameworks using Selenium, Robot Framework, and Playwright frameworks for web and mobile applications, achieving 100% regression test coverage and reducing manual testing overhead.</li>
                            <li>Implemented automated scraping tasks to continuously monitor and validate data integrity between front-end interfaces and back-end databases on both web and mobile applications.</li>
                            <li>Authored and executed SQL queries for data verification and validation ensuring 100% data integrity and accuracy during back-end testing.</li>
                            <li>Applied modern software development practices, leveraging Git for collaborative version control, CI/CD pipelines for automated builds and testing, and Jira to support Agile sprint planning and execution.</li>
                        </ul>
                    </div>
                </div>
            </details>

            <details class="experience-card" id="exp2">
                <summary class="card-header">
                    <div class="header-content">
                        <div class="header-info">
                            <span class="role">Project Engineer</span>
                            <div class="extra-info">
                                <span class="company">WinayTEC</span>
                                <span class="years">2018 - 2022</span>
                            </div>
                            <div class="tech-tags">
                                <span class="tech-tag">Embedded Software</span>
                                <span class="tech-tag">IoT</span>
                                <span class="tech-tag">Data Analysis</span>
                                <span class="tech-tag">Python</span>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-chevron-down dropdown-icon"></i>
                </summary>
                <div class="card-description">
                    <div class="task-tags">
                        <h4>Responsibilities</h4>
                        <ul>
                            <li>Developed embedded firmware for Internet of Things devices (STM32, ESP32, CC1352), gaining a full-stack perspective on data generation, transmission, and validation from sensor level to dashboard.</li>
                            <li>Built real-time dashboards using Streamlit and Datagrama, enabling immediate, data-driven decisionmaking across multiple Internet of Things projects.</li>
                            <li>Created a Power BI dashboard for stock management, including data pipeline setup, inventory data modelling, and visualization design to support the commercial team in making informed decisions about audiovideo inventory.</li>
                        </ul>
                    </div>
                </div>
            </details>
        </div>
        
        <h2>Education</h2>
        <div class="experience-grid">
            <details class="experience-card">
                <summary class="card-header">
                    <div class="header-content">
                        <div class="header-info">
                            <span class="role">University of Bath, United Kingdom</span>
                            <div class="extra-info">
                                <span class="company">MSc in Data Science</span>
                                <span class="years">2024 - 2025</span>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-chevron-down dropdown-icon"></i>
                </summary>
                <div class="card-description">
                    <div class="task-tags">
                        <ul>
                            <li>Grade: Distinction</li>
                            <li>Dissertation: Detection of Important Tokens in Chain of Thought Trajectories using Uncertainty Methods to Propose an Uncertainty-Based Compressor.</li>
                        </ul>
                    </div>
                </div>
            </details>

            <details class="experience-card">
                <summary class="card-header">
                    <div class="header-content">
                        <div class="header-info">
                            <span class="role">Universidad Privada Boliviana, Bolivia</span>
                            <div class="extra-info">
                                <span class="company">BSc in Electronic and Telecommunication Engineering</span>
                                <span class="years">2014 - 2018</span>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-chevron-down dropdown-icon"></i>
                </summary>
                <div class="card-description">
                    <div class="task-tags">
                        <ul>
                            <li>Grade: Distinction</li>
                            <li>Dissertation: Development of a LoRaWAN network for air quality monitoring in Cochabamba, Bolivia.</li>
                        </ul>
                    </div>
                </div>
            </details>
            
        </div>
    
</div>

    <footer class="site-credit-footer">
        <div class="footer-content">
            <p>&copy; 2025 Cristian Salazar Torrez</p>
            <div class="footer-socials">
                <a href="https://github.com/crist2201" target="_blank" class="social-icon github" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/cristian-salazar-torrez/" target="_blank" class="social-icon linkedin" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a href="mailto:cristiansalazar822@gmail.com" class="social-icon google" title="Email"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>